{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - An Article{% endblock %}

{% block body %}
    {% if 'add_article' == app.request.get('_route') %}
        {% set submitButton = 'Add' %}
        {% set title = 'Add a new article' %}
    {% else %}
        {% set submitButton = 'Update' %}
        {% set title = 'Update the article "' ~ article.title ~ '"' %}
    {% endif %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ asset('bundles/cleanblog/img/post-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clash of Blog</h1>
                        <hr class="small">
                        <span class="subheading">{{ title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{ parent() }}
    <article>
            
        <div class='container'>
            <div class='row'>
                {{ form_start(articleForm, {'attr': {'novalidate' : 'novalidate'}}) }}
                {#{{ form_row(articleForm.title) }}#}
                <div>
                    {{ form_label(articleForm.title) }}
                    {{ form_widget(articleForm.title) }}
                    {{ form_errors(articleForm.title) }}
                </div>
                {% if 'update_article' == app.request.get('_route') %}
                    <img src="{{ oldArticleImage }}" width="600" />
                {% endif %}
                {{ form_row(articleForm.headerImage) }}
                {{ form_row(articleForm.author) }}
                {{ form_row(articleForm.content) }}
                <input class='btn btn-success pull-right' type="submit" name="submit_article" value="{{ submitButton }}">
                {{ form_end(articleForm) }}
            </div>
        </div>
    </article>
{% endblock %}