{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ asset('bundles/cleanblog/img/home-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Clash of Blog</h1>
                        <hr class="small">
                        <span class="subheading">Be Victorious</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{ parent() }}
    <!-- Main Content -->
    <div class="container">
    {% for article in articles %}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="update/{{ article.id }}">
                        <h2 class="post-title">
                            {{ article.title}}
                        </h2>
                        <p class="post-content">
                            {{ article.content|purify }}
                        </p>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{ article.author }}</a> at {{ article.createdAt|date('l jS \\of F Y') }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}
