{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - An Article{% endblock %}

{% block body %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ img }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ article.title|title }}</h1>
                        <hr class="small">
                        <span class="subheading">Posted by <a href="#">{{ article.author }}</a> at {{ article.createdAt|date('l jS \\of F Y') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{ parent() }}

  <!-- Main Content -->
  <div class="container">
    {{ article.content|purify }}
    <a href="{{ path('update_article', {'id': article.id}) }}" class="btn btn-info pull-right">Modify</a>
  </div>
{% endblock %}